

/* 個々の要素の定義 */

/* 特に "display" "position" "z-index" 値を編集しないようにする。 */
/* 画面中央に要素を固定するために必要。 */

#fader {
    align-items: center;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events:none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 3;

}

.idle-container {
    align-items: center;
    display: flex;
    font-size: 3em;
}

.arrow {
    padding: 1em;
    animation: arrow_slide 1.2s ease-in-out infinite;
}

.text-english {
    font-size: 0.5em;
}

@keyframes arrow_slide {
    from {
        transform: translate(0, -20%);
    }
    to {
        transform: translate(0, 25%);
    }
}

.animate-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 940px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 650px;
    padding-top: 1em;
}

#handleft {
    color: rgb(209, 125, 7);
    position: relative;
    z-index: 2;
}

#handleft:before {
    content: "\f256";
    display: var(--fa-display, inline-block);
    font-family: "Font Awesome 6 Free";
    font-size: 12em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: -68px;
    transform: scale(-1, -1);
}

#handright {
    color: rgb(209, 125, 7);
    position: relative;
    z-index: 2;
}

#handright:before {
    content: "\f256";
    display: var(--fa-display, inline-block);
    font-family: "Font Awesome 6 Free";
    font-size: 12em;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    line-height: 1;
    position: absolute;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    left: -89px;
    transform: scale(1, -1);
}

#formbox {
    background-color: rgb(255, 240, 217);
    border-radius: 5px;
    height: 1280px;
    padding: 1em;
    position: relative;
    width: 650px;
    z-index: 1;
}

/* スクロールバーの非表示 */

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
*::-webkit-scrollbar {
    display: none;
}

/* アニメーション */

/* 概説 */

/* 'eventsAnimationConnected' -> 'eventsAnimationPull' -> 'eventsAnimationThrow' -> 'eventsAnimationEnd' -> 'eventsAnimationReset' */

/* .fader が白から透明へ遷移するアニメーション。'eventsAnimationConnected' 送信時に再生される。 */
/* .fader が透明から白へ遷移するアニメーション。'eventsAnimationEnd' 送信時に再生される。 */

/* .hand が等速で少し上へ移動するアニメーション。'eventsAnimationConnected' 送信時に再生される。 */
/* .hand がイージング移動でゆっくりと少し上へ遷移するアニメーション。'eventsAnimationPull' 送信時に再生される。 */
/* .hand がイージング移動で素早く少し下へ遷移するアニメーション。'eventsAnimationThrow' 送信時に再生される。 */
/* .hand の位置を初期状態へ戻すアニメーション。'animation_reset' 送信時に再生される。 */

/* .form-box が等速で少し上へ移動するアニメーション。'eventsAnimationConnected' 送信時に再生される。 */
/* .form-box がイージング移動でゆっくりと少し上へ遷移するアニメーション。'eventsAnimationPull' 送信時に再生される。 */
/* .form-box がイージング移動で素早く上から画面外下へ遷移するアニメーション。'eventsAnimationThrow' 送信時に再生される。 */
/* .form-box の位置を初期状態へ戻すアニメーション。'eventsAnimationReset' 送信時に再生される。 */


/* 仕様メモ */

/* 以下、3パラメータを制御してアニメーションさせる。*/

/* .fader の opacity 値 -> 画面全体に白い暗幕を張って見えなくする。アニメーション開始時はこの値が 1 から 0 へ遷移し、ゆっくりと暗幕が消える。*/
/* .hand の top 値 -> 両手のY座標に対応している。 */
/* .form-box の top 値 -> フォームのY座標に対応している。*/

.fader-init {
    opacity: 100%;
}

.fader-eventsAnimationConnected {
    opacity: 0%;
    transition: opacity 1s;
}

.fader-eventsAnimationEnd {
    opacity: 100%;
    transition: opacity 1s;
}

.handleft-init, .handright-init {
    top: 40px;
}

.handleft-eventsAnimationConnected, .handright-eventsAnimationConnected {
    top: 0;
    transition: top 1s ease-out;
}

.handleft-eventsAnimationPull, .handright-eventsAnimationPull {
    top: -40px;
    transition: top 0.5s ease-in-out;
}

.handleft-eventsAnimationThrow, .handright-eventsAnimationThrow{
    top: 80px;
    transition: top 0.6s ease-out;
}

.handleft-eventsAnimationEnd, .handright-eventsAnimationEnd {
    top: 0;
    transition: top 1s ease-out;
}

.handleft-eventsAnimationReset, .handright-eventsAnimationReset {
    top: 40px;
}

.formbox-init {
    top: 30px;
}

.formbox-eventsAnimationConnected {
    top: 0;
    transition: top 1s ease-out;
}

.formbox-eventsAnimationPull {
    top: -40px;
    transition: top 0.5s ease-in-out;
}

.formbox-eventsAnimationThrow {
    top: 1500px;
    transition: top 1.5s;
}

.formbox-eventsAnimationReset {
    top: 30px;
}